body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #d2b791;
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: auto;
}

header {
    grid-column: 1 / 21;
    grid-row: 1 / 6;
    background-color:#5f3525;
}

.header-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 25vh;
}

header img {
    grid-column: 1;
    grid-row: 1;
    align-self: stretch;
    justify-self: start;
    max-width: 100%;
}

a {
    text-decoration: none;
}

nav {
    grid-column: 1 / 21;
    grid-row: 6;
    background-color: #5f3525;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 5vh;
}

#home {
    grid-column: 1;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

#synopsis {
    grid-column: 2;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color:  #d2b791;
    align-self: center;
    justify-self: center;
}

#team {
    grid-column: 3;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

#journey {
    grid-column: 4;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: #754b2e;
    align-self: center;
    justify-self: center;
}

#learn {
    grid-column: 5;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

article {
    grid-column: 2 / 20;
    grid-row: auto;
    margin-bottom: 2vh;
}

.artwork-title {
    font-style: italic;
}

article h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

.journey-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}

footer {
    grid-column: 1 / 21;
    grid-row: auto;
    align-self: stretch;
    align-content: center;
    background-color: #5f3525;
}

#credits-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    padding-left: 5vw;
    color:#d2b791;
}