body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #d2b791;
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
}

header {
    grid-column: 1 / 21;
    grid-row: 1 / 6;
    background-color:#5f3525;
}

.header-container {
    display: grid;
    grid-template-columns: 25vw 5vw 70vw;
    grid-template-rows: 25vh;
}

@media screen and (min-width: 600px) {
    #header-image-container {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: 25vw;
        grid-template-rows: 25vh;
    }

    #header-image {
        display: block;
        justify-self: stretch;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
    }

    #header-text {
        display: block;
        grid-column: 3;
        grid-row: 1;
        justify-self: start;
        align-self: center;
        max-width: 100%;
    }

    #header-text > h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8vmin;
        font-style: italic;
        color: #d2b791;
        margin: 2vmin 0 0.5vmin 0;
    }

    #header-text > h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4vmin;
        font-style: italic;
        color: #d2b791;
        margin: 0.5vmin 0 1vmin 0;
    }
}

@media screen and (max-width: 599px) {
    #header-image-container {
        grid-column: 1 / 4;
        grid-row: 1;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 25vh;
    }

    #header-image {
        display: block;
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        align-self: center;
        max-height: 100%;
        max-width: 100%;
    }

    #header-text {
        display: none;
    }
}

a {
    text-decoration: none;
}

nav {
    grid-column: 1 / 21;
    grid-row: 6;
    background-color: #5f3525;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 5vh;
}

#home {
    grid-column: 1;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

#synopsis {
    grid-column: 2;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-decoration: none;
    color: #754b2e;
    align-self: center;
    justify-self: center;
}

#team {
    grid-column: 3;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

#journey {
    grid-column: 4;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

#learn {
    grid-column: 5;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    text-decoration: none;
    color: #d2b791;
    align-self: center;
    justify-self: center;
}

article {
    grid-column: 1 / 21;
    grid-row: 7 / 20;
}

#synopsis-article-container {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(13, 5vh);
}

.artwork-title {
    font-style: italic;
}

#logline-image {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    width: 25vmin;
    height: 25vmin;
}

#logline-title {
    grid-column: 6 / 18;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    margin: 0 0 0 2vw;
    align-self: end;
}

#logline-text {
    grid-column: 6 / 18;
    grid-row: 2 / 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    margin: 0 0 0 2vw;
    align-self: center;
}

#synopsis-title {
    grid-column: 6 / 18;
    grid-row: 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    margin: 0 0 2vh 2vw;
    align-self: center;
}

#synopsis-text {
    grid-column: 6 / 18;
    grid-row: 5 / 13;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    margin: 0 0 0 2vw;
    align-self: start;
}

footer {
    grid-column: 1 / 21;
    grid-row: 20 / 21;
    align-self: stretch;
    align-content: center;
    background-color: #5f3525;
}

#credits-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    padding-left: 5vw;
    color:#d2b791;
}